.work-mobirise {
    padding-top: 88px;
}
.title-big {
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 56px;
    text-align: center;
    a {
        color: #ffffff;
        transition: 0.3s ease-out;
        &:hover {
            color: var(--green-color);
        }
    }
}
.title-middle {
    font-weight: 450;
    font-size: 28px;
    line-height: 135%;
    color: #fff;
}
.title-small {
    margin-top: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #fff;
}
.work-mobirise__title {
    text-align: center;
}

.work-mobirise__container-inner {
    position: relative;
}

.mobirise__card-item {
    padding: 9px;
}
.mobirise__card-inner {
    position: relative;
    height: 100%;
    border-radius: 8px;
    transition: 0.3s ease-out;
    img {
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(98, 151, 118, 0.7);
        transition: 0.3s ease-out;
        position: relative;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(98, 151, 118, 0.15), rgba(98, 151, 118, 0.15));
        z-index: 1;
        transition: 0.3s ease-out;
    }
}
.about__description {
    line-height: 1.8;
}
.about {
    margin-top: 88px;
}
.circle {
    position: relative;
    width: 200px;
    height: 200px;
}
.logo {
    width: 150px;
    height: 150px;
    background: url("../img/photo.png");
    background-size: cover;
    filter: grayscale(0.8) contrast(1.5);
    border-radius: 8px;
}
.text {

    color: #fff;
    //animation: rotateText 10s linear infinite;
}
@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.text span {
    position: absolute;
    left: 50%;
    font-size: 18px;
    transform-origin: 0 100px;
}
.about {
    margin-bottom: 88px;
}
.about__row {
    display: flex;
    justify-content: space-between;
}
.contacts {
    padding-bottom: 84px;
}

.section__social {
    display: flex;
    justify-content: center;
    transition: 0.5s;
    height: 100%;
}
.social__list {
    position: relative;
    display: flex;
    li {
        border-radius: 8px;
        &::before {
            content: attr(data-text);
            position: absolute;
            top: -6px;
            left: 50%;
            transform: translate(-50%, calc(-50% + 120px));
            font-size: 40px;
            pointer-events: none;
            font-weight: 700;
            transition: 0.5s;
            opacity: 0;
            color: #ffffff;
        }
        &:hover {
            &::before {
                opacity: 0.3;
                transform: translate(-50%, calc(-50% + 150px));
            }
        }
    }
    a {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 80px;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        text-decoration: none;
        margin: 0 20px 20px 20px;
        font-size: 40px;
        transform-style: preserve-3d;
        perspective: 500px;
        box-shadow: 0 25px 35px rgba(0,0,0,0.1);
        transition: 0.25s;
        border-radius: 8px;
        &:hover {

            &.social__telegram {
                background: #0088cc;
            }
            &.social__vk {
                background: #4C75A3;
            }
            &.social__gmail {
                background: #E34133;
            }
            .fab, .fas {
                color: #fff;
                transform: scale(1.5) translateZ(50px);
            }
        }
    }
    .fab {
        transition: 0.25s;
        pointer-events: none;
    }
}
.js-tilt-glare {
    border-radius: 8px;
}
.contacts__container {
    padding-bottom: 88px;
}
@media (max-width: 1368px) {
    .slider__item, .slider-rootmedia__wrapper {
        height: 265px;
    }
    .js-slider-next svg, .js-slider-rootmedia-next svg {
        width: 40px;
        height: 40px;
    }
    .js-slider-prev svg, .js-slider-rootmedia-prev svg {
        width: 40px;
        height: 40px;
    }
    .slider__navigation, .slider-rootmedia__navigation {
        width: 87px;
    }
    .slider__navigation, .slider-rootmedia__navigation {
        top: 16px;
        margin-left: 30px;
        right: 0;
    }
}
.about__text {
    margin-top: 24px;
    li {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}
@media (max-width: 992px) {
    .title-big {
        font-size: 40px;
        line-height: 108%;
        margin-bottom: 24px;
    }
    .slider__item, .slider-rootmedia__wrapper {
        height: 202px;
    }
    .about__row {
        flex-direction: column;
    }
    .about__photo {
        order: 0;
        margin-top: 20px;
    }
    .about__col--1 {
        order: 1;
        margin-top: 20px;
    }
    .about__col--2 {
        margin-top: 20px;
        order: 2;
    }
    .slider__navigation,
    .slider-rootmedia__navigation {
        top: 0;
    }
    .slider__item, .slider-rootmedia__wrapper {
        height: auto;
    }
}
@media (max-width: 768px) {
    .mobirise__card-inner {
        img {
            height: auto;
        }
    }
    .about__photo {
        order: 0;
        margin-top: 20px;
    }
    .about__col--1 {
        order: 1;
        margin-top: 20px;
    }
    .about__col--2 {
        margin-top: 20px;
        order: 2;
    }
    .logo {
        margin-right: 16px;
        flex: 0 0 150px;
    }
    .about__photo {
        display: flex;
        justify-content: center;
    }
    .contacts__container {
        padding: 0 10px;
    }

    .title-middle {
        font-size: 22px;
    }
    .title-small {
        font-size: 16px;
    }
    .work-mobirise {
        padding-top: 56px;
    }
    .about {
        margin-top: 56px;
        margin-bottom: 56px;
    }
    .contacts {
        padding: 0 10px;
        padding-bottom: 56px;
    }
}
.mobirise__card-item {
    &:hover {
        img {
            box-shadow: 0px 0px 11px 3px rgba(175, 199, 255, 1);
        }
        .mobirise__card-inner {
            &::before {
                opacity: 0;
            }
        }
    }
}
@media (max-width: 400px) {
    .social__list a {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .social__list {
        li {
            &::before {
                top: -70px !important;
                font-size: 29px;
            }
        }
    }
}
@media (max-width: 1350px) {
    .contacts__container {
        padding-bottom: 56px;
    }
    .social__list {
        li {
            &::before {
                top: -29px;
                font-size: 29px;
            }
        }
    }
}

