
.slider, .slider-rootmedia {
    display: block;
    overflow: hidden;
    position: relative;


    &__wrapper {
        align-items: stretch;
        display: flex;
        justify-content: flex-start;
    }

    &__item {
        display: block;
        flex-shrink: 0;
    }

    &__pagination {
        align-items: center;
        bottom: 40px;
        display: flex;
        justify-content: center;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        z-index: 5;

        @media (max-width: 768px) {
            bottom: 24px;
        }

        &-item {

            background: rgba(0, 0, 0, 0.2);
            cursor: pointer;
            display: block;
            margin: 0 4px;

            &:hover {
                background: #77243a;
            }

            &_active {
                background: #0d0a0a;
            }
        }
    }

    &__navigation {
        display: flex;
        position: absolute;
        top: 40px;
        right: 40px;

        @media (max-width: 768px) {
            display: none;
        }

        &-item {

            bottom: 20%;
            color: #0d0a0a;
            cursor: pointer;
            display: block;
            position: absolute;
            z-index: 6;

            &:hover {
                color: #77243a;
            }

            &_prev {
                left: 60px;

                .icon {
                    transform: rotate(180deg);
                }
            }

            &_next {
                right: 60px;
            }

            &_disabled {
                display: none;
            }

            .icon {
                display: block;
            }
        }
    }
}
.about__list {
    li {
        margin-top: 20px;
    }
}
@media (min-width: 992px) {
    .slider-rootmedia__wrapper {
        justify-content: center;
    }
}

.slider__item, .slider-rootmedia__wrapper {
    position: relative;
    height: 238px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.about__row {
    margin: 0 -16px;
}
.about__col {
    flex: 0 1 33.3333%;
    padding: 0 16px;
}
.section__slider-wrapper {
    min-width: 0;
}
.js-slider-next, .js-slider-rootmedia-next {
    cursor: pointer;
    svg {
        width: 60px;
        height: 60px;
        transform: rotateZ(-90deg);
        fill: #fff;
        transition: 0.3s ease-out;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        svg {
            fill: var(--green-color);
        }
    }
    margin-left: 20px;
}
.js-slider-prev, .js-slider-rootmedia-prev{
    cursor: pointer;
    svg {
        width: 60px;
        height: 60px;
        transform: rotateZ(90deg);
        fill: #fff;
        transition: 0.3s ease-out;
    }
    &:hover {
        svg {
            fill: var(--green-color);
        }
    }
}
.slider__navigation {
    width: 140px;
    height:  63px;
    top: 0;
}
.js-slider-next {
    position: absolute;
    right: 0;
}
