<section class="work-mobirise">
    <div class="work-mobirise__container _container">
        <div class="work-mobirise__container-inner">
            <h2 class="work-mobirise__title title-big">Мои проекты в <a href="https://mobirise.com/">Mobirise</a></h2>
            <div class="work-mobirise__card mobirise__card-wrapper slider">
                <div class="mobirise__card-row slider__wrapper">
                    <a href="https://mobirise.com/extensions/studiom4/" class="mobirise__card-item slider__item">
                        <div class="mobirise__card-inner">
                            <img src="img/studio.jpg" alt="">
                        </div>
                    </a>
                    <a href="https://mobirise.com/extensions/kidsm4/" class="mobirise__card-item slider__item">
                        <div class="mobirise__card-inner">
                            <img src="img/kids.jpg" alt="">
                        </div>
                    </a>
                    <a href="https://mobirise.com/extensions/partneramp/" class="mobirise__card-item slider__item">
                        <div class="mobirise__card-inner">
                            <img src="img/partner.jpg" alt="">
                        </div>
                    </a>
                    <a href="https://mobirise.com/extensions/luxurym4/" class="mobirise__card-item slider__item">
                        <div class="mobirise__card-inner">
                            <img src="img/luxury.jpg" alt="">
                        </div>
                    </a>
                    <a href="https://mobirise.com/extensions/gadgetamp/" class="mobirise__card-item slider__item">
                        <div class="mobirise__card-inner">
                            <img src="img/gadget.jpg" alt="">
                        </div>
                    </a>
                    <a href="https://mobirise.com/extensions/attorneym4/" class="mobirise__card-item slider__item">
                        <div class="mobirise__card-inner">
                            <img src="img/attorney.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="slider__navigation">
                <div class="js-slider-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                         id="Capa_1" x="0px" y="0px" width="284.929px" height="284.929px"
                         viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;"
                         xml:space="preserve">
                            <g>
                                <path
                                    d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"/>
                            </g>
                        </svg>
                </div>
                <div class="js-slider-next">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                         id="Capa_1" x="0px" y="0px" width="284.929px" height="284.929px"
                         viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;"
                         xml:space="preserve">
                            <g>
                                <path
                                    d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"/>
                            </g>
                        </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="work-mobirise">
    <div class="work-mobirise__container _container">
        <div class="work-mobirise__container-inner">
            <h2 class="work-mobirise__title title-big">Мои проекты в <a href="https://rootmedia.ru/">Rootmedia</a></h2>
            <div class="work-mobirise__card mobirise__card-wrapper slider-rootmedia">
                <div class="mobirise__card-row slider-rootmedia__wrapper">
                    <a href="https://lucaspriority.com/" class="mobirise__card-item slider-rootmedia__item">
                        <div class="mobirise__card-inner">
                            <img src="img/rootmedia.jpg" alt="">
                        </div>
                    </a>
                    <a href="https://vtkoptima.ru/" class="mobirise__card-item slider-rootmedia__item">
                        <div class="mobirise__card-inner">
                            <img src="img/optima.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="slider-rootmedia__navigation">
                <div class="js-slider-rootmedia-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                         id="Capa_1" x="0px" y="0px" width="284.929px" height="284.929px"
                         viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;"
                         xml:space="preserve">
                        <g>
                            <path
                                d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"/>
                        </g>
                    </svg>
                </div>
                <div class="js-slider-rootmedia-next">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="Capa_1" x="0px" y="0px" width="284.929px" height="284.929px"
                     viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;"
                     xml:space="preserve">
                        <g>
                            <path
                                d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="about__container _container">
        <div class="work-mobirise__container-inner">
            <h2 class="about__title title-big">Обо мне</h2>
            <div class="about__row">
                <div class="about__col about__col--1">
                    <div class="about__left">
                        <h3 class="title-middle">Опыт работы:</h3>
                        <ul class="about__list">
                            <li>
                                <div class="about__date title-small"> - Mobirise ( август 2019 - сентябрь 2020 )</div>
                                <div class="about__description title-small">Верстал темы для конструктора сайтов mobirise.
                                    Работал с Bootstrap и AMP
                                </div>
                            </li>
                            <li>
                                <div class="about__dat title-small"> - Rootmedia ( февраль 2021 - октябрь 2021 )</div>
                                <div class="about__description title-small">Занимался версткой новых проектов, <br> поддержкой и
                                    доработкой старых. <br> Настраивал PWA, внедрял микроразметку. <br> Разработал встраиваемый виджет на vue.js.
                                    <br> Проекты на Bitrix и Yii2.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="about__col about__col--2">
                    <div class="about__expirience">
                        <h3 class="title-middle">Профессиональные навыки:</h3>
                        <ul>
                            <li class="title-small">- HTML, CSS</li>
                            <li class="title-small">- JS - как чистый, так и jQuery</li>
                            <li class="title-small">- Less, Stylus, Sass</li>
                            <li class="title-small">- SVG</li>
                            <li class="title-small">- Пакетные менеджеры - npm</li>
                            <li class="title-small">- Git</li>
                            <li class="title-small">- Gulp, Webpack</li>
                            <li class="title-small">- Bootstrap</li>
                            <li class="title-small">- Vue.js</li>
                            <li class="title-small">- Figma, Photoshop, Avocode, Adobe Illustrator</li>
                            <li class="title-small">- Bitrix</li>
                            <li class="title-small">- PhpStorm, VS Code, Sublime</li>
                            <li class="title-small">- Верстка адаптива без макетов</li>
                        </ul>
                    </div>
                </div>
                <div class="about__col about__photo">
                    <div class="logo"></div>
                    <div class="title-small about__text">
                        <ul>
                            <li> - Иван Гришов - Frontend разработчик</li>
                            <li> - 25 лет</li>
                            <li> - Образование: высшее</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contacts">
    <div class="work-mobirise__container-inner _container contacts__container">
        <h2 class="about__title title-big">Контакты</h2>
        <div class="section__social">
            <ul class="social__list">
                <li data-text="Telegram" data-color="#0088cc">
                    <a href="https://telegram.me/IvanGolo" class="social__telegram"><i
                        class="fab fa-telegram-plane"></i></a>
                </li>
                <li data-text="Gmail" data-color="#E34133">
                    <a href="mailto:ivangrishov@gmail.com" class="social__gmail"><i class="fas fa-envelope"></i></i></a>
                </li>
                <li data-text="VKontakte" data-color="#4C75A3">
                    <a href="https://vk.com/id243570073" class="social__vk"><i class="fab fa-vk"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>

